<div>
	<div class="col-md-8 col-md-offset-2">
		<button type="button" class="btn btn-default"><%= link_to 'Back', root_path %></button><br><br>

		<div class="panel panel-default">
  		<div class="panel-body">
			<%= image_tag @recipe.image.url(:medium) %><br>
			<h2><%= @recipe.title %></h2>
		    <p><%= @recipe.description %></p>
		  </div>
		</div>

		<div class="btn-group" role="group" aria-label="...">
		  	<button type="button" class="btn btn-default"><%= link_to 'Edit', edit_recipe_path(@recipe.id) %></button>
			<button type="button" class="btn btn-default"><%= link_to 'Delete', recipe_path, method: :delete, data: {confirm: 'Are you sure?'} %></button>
		</div>
	</div>
 </div>
